body {
	background-color: #fafafa;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	font-family: "Segoe UI", Roboto, Helvetica, Arial, sans serif;
}
form {
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
}

input {
	width: 80%;
	padding: 10px;
	border: 1px solid #e6e6e6;
	background-color: #fafafa;
	border-radius: 3px;
	margin-bottom: 5px;
}

input::placeholder {
	color: #999;
	font-size: 0.7rem;
}

#login {
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
    display: flex;
	align-items: center;
	flex-flow: column wrap;
	width: 30%;
	min-width: 350px;
}
#logo {
     margin: 15px;
}

#FBLogin {
	color: #385185;
	text-decoration: none;
	padding: 0 15px;
	font-weight: 600;
	font-size: 0.9rem;
	margin: 10px;

}

#forgotPW {
	text-decoration: none;
	font-size: 0.75rem;
	color: #385185;
	margin: 10px 0 20px 0;
}

.btn {
	color: white;
	background-color: #3897f0;
	border: none;
	border-radius: 3px;
	width: 80%;
	padding: 7px 0 7px 0;
	font-weight: bold;
}

#getApp {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	font-size: 0.8rem;
}
.fa-facebook-square {
	color: #385185;
	margin-right: 5px;
	font-size: 1.25rem;
} 